
<div >
     <h3>Tracker</h3>
<label></label>
<select (change) ="getCountry($event.target.value)">
  <option *ngFor="let con of countries" >{{con.country}}</option>
</select>
<br>
<br>
<br>
<button (click)="getCoronaData()">GetDetail</button>

<h2>overallpopulation: {{population}}</h2>
<h2>cases:{{cases}}</h2>
<h2>todaycases:{{todaycases}}</h2>
<h2>recovered:{{recovered}}</h2>
<h2>todayrecovered:{{todayrecovered}}</h2>
<h2>active:{{active}}</h2>
<h2>deaths:{{deaths}}</h2>
<h2>todaydeaths: {{todaydeaths}}</h2>
</div>